.s-vdieos-div {
  margin: 10px 40px 0 40px;
  input {
    width: 100%;
    padding: 20px;
    text-decoration: none;
    outline: none;
    border-radius: 50px;
  }

  margin-bottom: 30px;

  .videos-div {
    margin-top: 10px;
  }
}
