.nav-div {
  position: fixed;
  width: 100%;
  height: 98px;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: 2px solid red;
  font-size: 50px;
  padding: 10px;

  span {
    color: red;
  }

  nav {
    font-size: 30px;
    color: white;
    display: flex;
    gap: 10px;

    a {
      position: relative;
    }

    a::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      transition: width 0.5s;
      background-color: red;
    }

    a:hover::before {
      width: 100%;
    }
  }
  span {
    color: white;
    .coracao {
      color: red;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}
