* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100svh;
}

.cards-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
