.banner-div {
  padding-top: 100px;
  width: 100%;
  //background-image: url("/public/images/neto3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}
